GEMINI_API_KEY=
API_SPORTS_KEY=
FOOTBALL_API_KEY=
API_SPORTS_HOST=v3.football.api-sports.io
API_SPORTS_URL=https://v3.football.api-sports.io
FOOTBALL_API_HOST=v3.football.api-sports.io
FOOTBALL_API_URL=https://v3.football.api-sports.io

NESINE_URL=https://www.nesine.com/iddaa/futbol
IDDAA_URL=https://www.iddaa.com/program
HTTP_TIMEOUT_SECONDS=15

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
